/* config.scss */

@import 'reset';
@import 'theming';
@import 'material-icons';

$mat-fresh-green: (
	300: #81ffa8,
	500: #43ea78,
	700: #00b649,
	contrast: (
		50: $black-87-opacity,
		100: $black-87-opacity,
		200: $black-87-opacity,
		300: $black-87-opacity,
		400: $black-87-opacity,
		500: $black-87-opacity,
		600: $black-87-opacity,
		700: $black-87-opacity,
		800: $white-87-opacity,
		900: $white-87-opacity,
		A100: $black-87-opacity,
		A200: $black-87-opacity,
		A400: $black-87-opacity,
		A700: $black-87-opacity,
	)
);

$theme: mat-light-theme(
mat-palette($mat-fresh-green, 500, 300, 700),
mat-palette($mat-yellow),
mat-palette($mat-red));

$theme-primary: map-get($theme, primary);
$theme-accent: map-get($theme, accent);
$theme-warn: map-get($theme, warn);
$theme-foreground: map-get($theme, foreground);
$theme-background: map-get($theme, background);

$color-error: mat-color($mat-red, 500);
$color-warn: mat-color($mat-yellow, 500);
$color-success: mat-color($mat-fresh-green, 500);


$page-content-width: 800px;

/* Base */
/* ----------------------------------------------------------*/

*, *:before, *:after {
	/* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
	-webkit-box-sizing: border-box;

	/* Firefox (desktop or Android) 28- */
	-moz-box-sizing: border-box;

	/* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
	box-sizing: border-box;
}


html, body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: mat-color($theme-background, background);
	color: mat-color($theme-foreground, text);
	margin: 0;
}

$primary-border-style: 1px solid map-get($theme-foreground, text);

header {
	margin: 0;
	/*border: $primary-border-style;*/
	border-top: 30px solid mat-color($theme-primary, darker);
	border-bottom: 5px solid map-get($theme-foreground, divider);
	padding: 25px;
	color: mat-color($theme-primary, default-contrast);
	background: mat-color($theme-primary, default);

	.title {
		margin: 0;
		text-align: center;
		font-size: 3em;
	}
}

$button-edge-border-radius: 12px;
$button-edge-border-color-light: rgba(black, 0.12);
$button-edge-border-color-dark: rgba(black, 0.35);

button {
	background: map-get($theme-background, raised-button);
	padding: 6px 12px;
	//border-style: outset;
	//border-color: map-get($theme-foreground, divider);
	border-style: solid;
	border-top-color: $button-edge-border-color-light;
	border-bottom-color: $button-edge-border-color-dark;
	border-left-color: $button-edge-border-color-light;
	border-right-color: $button-edge-border-color-light;
	border-width: 2px 1px;
	border-radius: 0px;
	&:first-of-type {
		border-left-width: 2px;
		border-top-left-radius: $button-edge-border-radius;
		border-bottom-left-radius: $button-edge-border-radius;
	}
	&:last-of-type {
		border-right-color: $button-edge-border-color-dark;
		border-right-width: 2px;
		border-top-right-radius: $button-edge-border-radius;
		border-bottom-right-radius: $button-edge-border-radius;
	}
	&:hover {
		background: map-get($theme-background, focused-button);
	}
	&:active {
		border-left-color: $button-edge-border-color-dark;
		border-top-color: $button-edge-border-color-dark;
		border-bottom-color: $button-edge-border-color-light;
		border-right-color: $button-edge-border-color-light;
		background: map-get($theme-background, selected-button);
	}
	&:disabled {
		color: map-get($theme-foreground, disabled-button);
		background: map-get($theme-background, disabled-button);
		&:active {
			background: map-get($theme-background, selected-disabled-button);
		}
	}
}


.page-content {
	//max-width: $page-content-width;
	//margin: 0 auto;
}

.card {
	margin: 10px;
	/*border: 2px solid map-get($theme-foreground, text);*/
	/*border-right: 2px solid map-get($theme-foreground, text);*/
	.card-title {
		/*border-top: 2px solid map-get($theme-foreground, text);*/
		/*border-bottom: 2px solid map-get($theme-foreground, text);*/
		/*border: $primary-border-style;*/
		/*border-bottom: none;*/
		/*border-top-left-radius: 5px;*/
		/*border-top-right-radius: 5px;*/
		/*transform: skewY(5deg);*/
		/*transform-origin: top left;*/
		width: 100%;
		margin: 0;
		color: mat-color($theme-primary, default-contrast);
		background: mat-color($theme-primary, default);
		padding: 5px 15px;;

	}
	.card-body {
		margin: 0 auto;
		color: mat-color($theme-primary, lighter-contrast);
		background: mat-color($theme-primary, lighter);
		padding: 3px;
		/*border: $primary-border-style;*/
		/*border-top: none;*/
		/*border-bottom-left-radius: 5px;*/
		/*border-bottom-right-radius: 5px;*/
	}

	ul {
		margin: 0;
	}
	.fields {
	}
}

.collapser {
	/*background: map-get($theme-background, disabled-button);*/
	background: none;
	border: none;
	float: right;

	&:hover {
		background: map-get($theme-background, focused-button);
	}

	&:after {
		content: "–";
	}
	.collapsed &:after {
		content: "+";
	}
}

.collapsed>.collapser-target {
	height: 0;
	overflow-y: hidden;
}

$task-col-width: 300px;
$task-card-height: 60px;
$task-result-border-width: 15px;

.task-display {
	display: flex;
	flex-direction: row;

	.task-col {
		width: $task-col-width;
		background: $black-6-opacity;
	}

	.task {
		margin: 0;
		.card {
			position: relative;
			margin: 0;
			width: 250px;
			height: $task-card-height;

			&:before {
				content: "";
				position: absolute;
				width: $task-col-width + $task-result-border-width;
				height: $task-card-height;
				left: -$task-result-border-width;
				border-left: $task-result-border-width solid map-get($theme-foreground, divider);
			}
			&.success:before {
				border-left: $task-result-border-width solid $color-success
			}
			&.warn:before {
				border-left: $task-result-border-width solid $color-warn
			}
			&.error:before {
				border-left: $task-result-border-width solid $color-error
			}

			border-bottom: 5px solid $black-12-opacity;
			background: map-get($theme-background, card);
		}
		&>.tasks {
			margin: 0;
			padding-left: $task-result-border-width;
			list-style-type: none;
		}
	}

	.log-display {
		min-height: 400px;
		color: mat-color($theme-primary, lighter-contrast);
		background: mat-color($theme-primary, lighter);

		.logs {
			list-style-type: none;
		}
	}
}

.file-explorer-display {
	.file-explorer {
		.path {

			margin: 0;

			.directories {
				display: inline-block;
				//display: flex;
				//flex-direction: row;
				list-style-type: none;
				padding-left: 0;
				margin: 0;
				.up-directory-button {
					padding-left: 3px;
					padding-right: 3px;
					i {
						line-height: 0;
						transform: translateY(6px);
					}
				}
				button:last-of-type {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
				//li {
					//display: inline-block;
					//margin: 0;
				//}
			}
		}

		.entries {
			margin: 0;
			padding-left: 0;
			background: $black-6-opacity;
			list-style-type: none;
			li {
				i {
					color: mat-color($theme-accent, darker);
				}
				.card {
					position: relative;
					margin: 0;
					width: 250px;
					height: 30px;
					background: map-get($theme-background, card);
					border-bottom: 2px solid $black-12-opacity;

					&.selected {
						color: mat-color($theme-primary, lighter-contrast);
						background: mat-color($theme-primary, lighter);
					}
				}
				button {
				}
			}
		}
	}
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.login {
	width: 350px;
	margin: 0 auto;
	margin-top: 50px;

	.card-body {
		padding: 0px;
	}

	form {
		div {
			display: flex;
			padding: 10px 0;

			&.input-wrap {
				//background: mat-color($theme-accent, lighter);
				label {
					display: table-cell;
					text-align: center;
					width: 100px;
					padding-top: 4px;
					padding-left: 10px;
					padding-right: 5px;
				}

				input {
					flex: 2;
					margin-right: 10px;
				}
			}
		}

		.submit {
			display: flex;
			justify-content: space-around;
			button {
				margin-right: 15px;
			}
		}
	}
}

