<div class="comments">
	<h2>comments</h2>
	<ul>
		{{#each comments}}
		<li><h3{{#if this.verified}} class="commentAuthorOwner" title="verified author"{{/if}}>{{ this.author }}:</h3>
			<p class="comment-message">{{ this.message }}</p>
			{{time-tag (downcase (date this.timestamp '')) page.date}}
		</li>
		{{/each}}
	</ul>
	<div>
		<form method="post" action="/comments{{url}}">
			<div><label for="form-author">name</label><input id="form-author" type="text" name="author" required></div>
			<div><label for="form-email">email</label><input id="form-email" type="text" name="email" required><span class="formInfo">your email will not be published or shared</span></div>
			<div><label for="form-password">password</label><input id="form-password" type="text" name="password"><span class="formInfo">optional</span></div>
			<div><label for="form-message">comment</label><textarea id="form-message" type="text" name="message" required></textarea></div>
			<div><label for="recaptcha">captcha</label><div id="recaptcha"></div></div>
			<button class="form-submit-button" type="submit" name="submitButton" value="Submit">post comment</button></div>
		</form>
	</div>
</div>
