<div class="login">
	<h2>Login</h2>
	<div>
		<form method="post" action="/~authentication/login?redirect={{query.redirect}}">
			<div><label for="login-username">Username</label><input id="login-username" type="text" name="username" required></div>
			<div><label for="login-password">Password</label><input id="login-password" type="password" name="password"></div>
			<button class="login-submit-button" type="submit" name="loginSubmitButton" value="Submit">Login</button></div>
		</form>
	</div>
</div>
