---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="flashGamePage">
  {% assign urlArray = page.url | remove:".html" | remove:"games/" | split:"/" %}
  {% capture backURL %}{% for urlSegment in urlArray %}{% if forloop.last == false %}{{ urlSegment }}/{% endif %}{% endfor %}{% endcapture %}

    <div class="flashGamePageContent">
      <h1 class="flashGameTitle">{{ page.title }}</h1>
      <object width="{{ page.embedWidth }}" height="{{ page.embedHeight }}">
        <param name="movie" value="{{ embedSwf }}">
        <embed src="{{ page.embedSwf }}" width="{{ page.embedWidth }}" height="{{ page.embedHeight }}"></embed>
      </object>
      {{ content }}
      <p><a href="/games{{ backURL }}">back</a> - <a href="/">home</a></p>
    </div>
  </body>
</html>
