{% assign commentsID = page.id | remove_first: '/' | replace: '/','_' %}
<h2>comments</h2>
<ul>
{% for entry in site.data.comments[commentsID] %}
{% assign displayedDatetime = entry.datetime | date: "%A %B %-d, %Y at %-I:%M %p" | downcase %}
	<li><h3{% if entry.isowner %} class="commentAuthorOwner" title="verified author"{% endif %}>{{ entry.author }}:</h3>
	    <p class="comment-message">{{ entry.message }}</p>
	    <time title="{{ entry.datetime }}" datetime="{{ entry.datetime }}">{{ displayedDatetime }}</time></li>
{% endfor %}
</ul>
<div>
<form method="post" action="/postcomment">
	<div><label for="form-author">name</label><input id="form-author" type="text" name="author" required></div>
	<div><label for="form-email">email</label><input id="form-email" type="text" name="email" required><span class="formInfo">your email will not be published or shared</span></div>
	<div><label for="form-message">comment</label><textarea id="form-message" type="text" name="message" required></textarea></div>
	<input type="hidden" name="pageID" value="{{ commentsID }}">
	<button class="form-submit-button" type="submit" name="submitButton" value="Submit">post comment</button></div>
</form>
</div>
