/* shakespeare.scss */

@import 'reset';

$primaryTextColor: white;
$darkTextColor: black;
$primaryBackgroundColor: black;
$lightBackgroundColor: #dddddd;

$pageContentWidth: 500px;

/* Base */
/* ----------------------------------------------------------*/

*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}


html, body { background-color: $primaryBackgroundColor; }

  a, p, h1, h2, h3, h4, h5, h6, form, label, li, time, section {
    color: $primaryTextColor;
    background-color: $primaryBackgroundColor;
    font-family:"Courier New", Courier, monospace;
  }

div {
  font-family:"Courier New", Courier, monospace;
}
a {
	/* text-decoration: none; */
	display: inline-block;
	opacity: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.fade {
	-webkit-animation: fade 2s;
	animation: fade 2s;
	opacity: 1;
}

@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.wrap {
	margin: 5em 5em 5em 5em;
}

