<!DOCTYPE html>
<html>
	{{> includes/head.html}}
	<body>
		<canvas id="backgroundCanvas"></canvas>
		<canvas id="foregroundCanvas"></canvas>
		<div id="letterSize">a</div>
		<div id="foregroundWrapper">
			{{> includes/header.html}}

			<div class="pageContent">
				{{#> bare-contents}}
					<!-- No layouts/bare.html contents -->
				{{/ bare-contents}}
			</div>

			{{> includes/footer.html}}
		</div>
		<script src="/javascript/default.js"></script>
		<script src="/javascript/animation-gallery.js"></script>
		<script src="/javascript/bg-scan.js"></script>
		<script src="/javascript/bg-maze.js"></script>
		<script src="/javascript/bg-eye.js"></script>
		<script src="/javascript/bg-rings.js"></script>
		<script async type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
		<script>
			window.AnimationGallery.startAnimation(3);
		</script>
	</body>
</html>
