<!DOCTYPE html>
<html>
	{{> includes/head.html}}
	<body>
		<canvas id="backgroundCanvas"></canvas>
		<canvas id="foregroundCanvas"></canvas>
		<div id="letterSize">a</div>
		<div class="animation-controls">
			<button id="prev-animation-button">&lt;</button>
			<button id="next-animation-button">&gt;</button>
			<button id="fullscreen-button">[=]</button>
		</div>
		<div id="foregroundWrapper">
			{{> includes/header.html}}

			<div class="pageContent">
				{{#> core-contents}}
					<!-- No layouts/core.html contents -->
				{{/ core-contents}}
			</div>

			{{> includes/footer.html}}
		</div>
		<script src="/javascript/animation-gallery.js"></script>
		<script src="/javascript/default.js"></script>
		<script src="/javascript/bg-scan.js"></script>
		<script src="/javascript/bg-maze.js"></script>
		<script src="/javascript/bg-eye.js"></script>
		<script src="/javascript/bg-rings.js"></script>
		<script src="/javascript/bg-flower.js"></script>
		<script src="/javascript/bg-tree.js"></script>
		<script src="/javascript/bg-solarsystem.js"></script>
		<script src="/javascript/bg-gravity.js"></script>
		<script src="/javascript/bg-light.js"></script>
		<script src="/javascript/bg-targeting.js"></script>
		<script src="/javascript/bg-warp.js"></script>
		<script src="/javascript/bg-sunset.js"></script>
		<script src="/javascript/bg-pendulum.js"></script>
		<script src="/javascript/bg-melt.js"></script>
		<script async type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
		<script>
			//window.AnimationGallery.startAnimation(window.AnimationGallery.animations.length - 1);
			var animations = [
				'scan',
				'maze',
				'eye',
				'rings',
				'flower',
				'solarsystem',
				'gravity',
				'warp',
				'sunset',
				'pendulum',
				//'melt'
			];
			// only expose more finished animations by overwriting the animation array
			window.AnimationGallery.animations = animations.map(function(animName) {
				return window.AnimationGallery.animationMap[animName];
			});

			var animationIndex = parseInt(window.sessionStorage.getItem('animation-index'), 10);
			//animationIndex = animations.length-1; //TODO: remove
			if(isNaN(animationIndex) || typeof animationIndex !== 'number') {
				animationIndex = Math.floor(Math.random()*animations.length)
				window.sessionStorage.setItem('animation-index', '' + animationIndex);
			}
			window.AnimationGallery.startAnimation(animationIndex);
			/*
			animations.map(function(animName, i) {
				return setTimeout(function() {
					window.AnimationGallery.startAnimation(animName);
				}, i * 2000);
			});
			*/
		</script>
	</body>
</html>
