<!DOCTYPE html>
<html>
	{{> includes/head.html}}
	<body>
		<canvas id="backgroundCanvas"></canvas>
		<canvas id="foregroundCanvas"></canvas>
		<div id="letterSize">a</div>
		<div class="animation-controls">
			<button id="prev-animation-button">&lt;</button>
			<button id="next-animation-button">&gt;</button>
			<button id="fullscreen-button">[=]</button>
		</div>
		<div id="foregroundWrapper">
			{{> includes/header.html}}

			<div class="pageContent">
				{{#> core-contents}}
					<!-- No layouts/core.html contents -->
				{{/ core-contents}}
			</div>

			{{> includes/footer.html}}
		</div>
		<script src="/javascript/animation-gallery.js"></script>
		<script src="/javascript/default.js"></script>
		<script src="/javascript/bg-scan.js"></script>
		<script src="/javascript/bg-maze.js"></script>
		<script src="/javascript/bg-eye.js"></script>
		<script src="/javascript/bg-rings.js"></script>
		<script src="/javascript/bg-flower.js"></script>
		<script src="/javascript/bg-tree.js"></script>
		<script src="/javascript/bg-solarsystem.js"></script>
		<script src="/javascript/bg-gravity.js"></script>
		<script src="/javascript/bg-light.js"></script>
		<script src="/javascript/bg-targeting.js"></script>
		<script src="/javascript/bg-warp.js"></script>
		<script src="/javascript/bg-sunset.js"></script>
		<script src="/javascript/bg-pendulum.js"></script>
		<script src="/javascript/bg-melt.js"></script>
		<script src="/javascript/bg-oscilloscope.js"></script>
		<script src="/javascript/bg-radial.js"></script>
		<script src="/javascript/bg-bubbles.js"></script>
		<script src="/javascript/bg-nausea.js"></script>
		<!-- <script async type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script> -->
		<script>
			//window.AnimationGallery.startAnimation(window.AnimationGallery.animations.length - 1);
			var animations = [
				'scan',
				'maze',
				'eye',
				'rings',
				'flower',
				'solarsystem',
				'gravity',
				'warp',
				'sunset',
				'pendulum',
				//'melt'
				'oscilloscope',
                'radial',
                //'bubbles',
                'nausea',
			];
			// only expose more finished animations by overwriting the animation array
			window.AnimationGallery.animations = animations.map(function(animName) {
				return {
					name: animName,
					anim: window.AnimationGallery.animationMap[animName]
				};
			});

			var url = new URL(window.location);
			var animationName = new URLSearchParams(url.search).get('background');
			if(!animationName || !animations.includes(animationName)) {
				animationName = window.sessionStorage.getItem('background');
			}

			if(!animationName || !animations.includes(animationName)) {
				// no animation selected
				animationName = animations[Math.floor(Math.random()*animations.length)];
			}

			window.sessionStorage.setItem('background', '' + animationName);

			window.AnimationGallery.startAnimation(animationName);
			/*
			animations.map(function(animName, i) {
				return setTimeout(function() {
					window.AnimationGallery.startAnimation(animName);
				}, i * 2000);
			});
			*/
		</script>
	</body>
</html>
