{{#> layouts/default.html}}
	{{#*inline "default-contents"}}
		<div class="post-contents">
			<div id="postDescription">
				{{#if page.description}}<p>{{ page.description }}</p>{{/if}}
			</div>

			<div class="postBody">
				{{#> post-contents}}
					<!-- No layouts/post.html contents -->
				{{/post-contents}}
			</div>
			{{#if page.date}}
			<div id="post-date">
				<p>{{time-tag (downcase (date page.date '')) page.date}}</p>
			</div>
			{{/if}}
			<div class="postTags">tags: {{#each page.tags}}<a href="/tags#{{this}}">{{ this }}</a> {{/each}}</div>
			{{> includes/comments.html}}
		</div>
	{{/inline}}
{{/layouts/default.html}}
